@model BrowseViewModel

@{
    ViewData["Title"] = "Browse";
}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered ">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Gain</th>
            <th scope="col">Bass</th>
            <th scope="col">Middle</th>
            <th scope="col">Treble</th>
            <th scope="col">Reverb</th>
            <th scope="col">Volume</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tones in Model.Tones.OrderBy(x => x.Name))
        {
            <tr>
                <td>@tones.Name</td>
                <td>@tones.Genre</td>
                <td>@tones.Equalizer.Gain</td>
                <td>@tones.Equalizer.Bass</td>
                <td>@tones.Equalizer.Middle</td>
                <td>@tones.Equalizer.Treble</td>
                <td>@tones.Reverb</td>
                <td>@tones.Volume</td>
                <td>@tones.Description</td>
                <td>@tones.CreatedBy</td>
            </tr>   
        }
        </tbody>
    </table>
</div>