@model BrowseViewModel

@{
    ViewData["Title"] = "Browse";
}

<style>
    body
    {
        background-image: url("@ViewBag.ImagePath");
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="text-white bg-dark-opacity inline-bg-dark text-center p-3 signika-negative" style="font-size: 55px !important;">Browse Tones</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card bg-dark p-3 text-light">
                <div class="table-responsive mt-4">
                    <table class="table table-bordered display text-light" id="tonesTable">
                        <thead>
                        <tr>
                            <th scope="col">Tone Name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var tones in Model.Tones.OrderBy(x => x.ToneName))
                        {
                            <tr>
                                <td>@tones.ToneName</td>
                                <td>@tones.Genre</td>
                                <td>@tones.Description</td>
                                <td>
                                    @tones.CreatedBy
                                </td>
                                <td>
                                    <a class="btn btn-light" href="/tone/@tones.Id">
                                        <i class="fa-solid fa-question"></i>
                                    </a>
                                    <a class="btn btn-warning" href="/edit/@tones.Id">
                                        <i class="fa-solid fa-pen-to-square text-white"></i>
                                    </a>
                                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete-tone" tone-id="@tones.Id">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th scope="col">Tone Name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
                <p class="text-secondary">This tone's data will be lost forever.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" id="modal-delete-btn" href="" onclick="deleteTone()">Delete</a>
            </div>
        </div>
    </div>
</div>