@model ToneFormModel

@{
    var controller = ViewBag.Controller as string ?? "";
    var method = ViewBag.Method as string ?? "";
    var buttonText = ViewBag.ButtonText as string ?? "";
}


<div class="container">
    <div class="row justify-content-center">
        <form asp-action="@controller" method="@method" class="col-md-6">
            @Html.HiddenFor(form => form.Tone.Id);
            @Html.HiddenFor(form => form.Tone.CreatedAt);
            @Html.HiddenFor(form => form.Tone.Version);
            <div class="card p-3 bg-dark-opacity">
                <img src="../img/Tone Vault Logo Red.png" class="logo-center" alt="Tone Vault"/>
                <hr class="text-white"/>
                <div class="form-group text-white">
                    <label for="name">Tone Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="Tone.ToneName" id="toneName" maxlength="35" required="required">
                </div>
                <div class="form-group text-white">
                    <label class="mt-2" for="genre">Genre<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="Tone.Genre" id="genre" maxlength="35" required="required">
                </div>
                <hr class="text-white"/>
                <div class="row">
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="gain">Gain</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Gain" id="gain" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="bass">Bass</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Bass" id="bass" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="middle">Middle</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Middle" id="middle" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="treble">Treble</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Treble" id="treble" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="reverb">Reverb</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Reverb" id="reverb" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                    <div class="col-md-2 form-group text-white">
                        <label class="mt-2" for="volume">Volume</label>
                        <input type="number" class="form-control" asp-for="Tone.Equalizer.Volume" id="volume" min="0" max="11" placeholder="0" oninput="this.value=(parseInt(this.value) || 0)">
                    </div>
                </div>
                <hr class="text-white"/>
                <div class="form-group text-white">
                    <label class="mt-2" for="created-by">Created By <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="Tone.CreatedBy" id="created-by" maxlength="35" required="required">
                </div>
                <div class="form-group text-white">
                    <label class="mt-2" for="description">Description <span class="text-danger">*</span></label>
                    <textarea type="textarea" class="form-control" asp-for="Tone.Description" id="description" maxlength="100" required="required"></textarea>
                </div>
                <input type="submit" value="@buttonText" class="btn btn-danger mt-3"/>
            </div>
        </form>
    </div>
</div>